* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../bahan/bahan2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 20px;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:white;
    padding: 5px 20px;
    transition: 0.4s ease;
    border: 1px solid white;
}

ul li a:hover {
    background-color:white;
    color: black;
}

ul li.active a {
    background-color: white;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
    font-style: italic;
}

.button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}

.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}